<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdnsszm.springboot_pro.druid.dao.CityMapper">
    <resultMap id="BaseResultMap" type="com.wdnsszm.springboot_pro.druid.entity.City">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="countryCode" property="countryCode" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="population" property="population" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findCityList" resultMap="BaseResultMap">
        select * from city limit 50
    </select>
</mapper>